body {
  font-family: Arial;
  background: #052659;
  color: white;
  margin: 0;
}

header {
  background: #5381B2;
  padding: 10px;
  text-align: center;
}

#clanList div {
  border: 1px solid #7DA0CA;
  padding: 10px;
  margin: 10px;
}

.leader, .member {
  margin: 10px 0;
}
